@model Shared.Entities.Rit

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Rit</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NummerPlaat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NummerPlaat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Datum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Datum)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BeginTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BeginTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindTijd)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindTijd)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opdracht.Naam)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opdracht.Naam)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opdracht._Chauffeur.FirstName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opdracht._Chauffeur.FirstName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.opdracht._Chauffeur.LastName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.opdracht._Chauffeur.LastName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.RitID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
