@model Shared.Entities.Vrachtwagen

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Vrachtwagen</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Merk)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Merk)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TotaalKM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TotaalKM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DatumInDienst)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DatumInDienst)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.NummerPlaat }) |
    @Html.ActionLink("Back to List", "Index")
</p>
