@model Shared.Entities.Tankbeurt

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Tankbeurt</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Liter)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Liter)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.StartKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.StartKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EindKm)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EindKm)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Verbruik)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Verbruik)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NummerPlaat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NummerPlaat)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TankbeurtID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
